<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SymBnb - {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'admin/partials/header.html.twig' %}
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
        {% block single %}{% endblock %}
        {% include 'admin/partials/footer.html.twig' %}
        {# <script src="{{ asset('build/js/app.js')}}"></script> #}
        <script src="/js/jquery-3.3.1.slim.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
