{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
<div class="jumbotron mt-3">
    <h1 class="display-3">Bienvenue sur SymBnB</h1>
    <p class="lead">Nous mettons en relation propriétaires et futurs locataires</p>
    <hr class="my-4">
    <p>Vous cherchez une location pour vos futus vacances ?</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
    </p>
</div>
<h2>Nos locations stars</h2>
<div class="row mt-3">
    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-header text-center">
                3 chambres, <strong>49&euro; / nuit</strong><br>
                <small>Pas encore noté</small>
            </div>
            <img src="http://placehold.it/1000x400" alt="Image de la location" style="height: 200px; width: 100%; display: block;">
            <div class="card-body">
                <h4 class="card-title">
                    Appartement Top !
                </h4>
                <p class="card-text">
                    Ea ex nostrud velit eiusmod. Laborum sint est sint dolor nisi ea amet duis consectetur consequat commodo occaecat. Veniam anim occaecat consequat ullamco amet nostrud cillum nulla in irure.
                </p>
                <a href="#" class="btn btn-secondary">Voir plus</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-header text-center">
                3 chambres, <strong>49&euro; / nuit</strong><br>
                <small>Pas encore noté</small>
            </div>
            <img src="http://placehold.it/1000x400" alt="Image de la location" style="height: 200px; width: 100%; display: block;">
            <div class="card-body">
                <h4 class="card-title">
                    Appartement Top !
                </h4>
                <p class="card-text">
                    Ea ex nostrud velit eiusmod. Laborum sint est sint dolor nisi ea amet duis consectetur consequat commodo occaecat. Veniam anim occaecat consequat ullamco amet nostrud cillum nulla in irure.
                </p>
                <a href="#" class="btn btn-secondary">Voir plus</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-header text-center">
                3 chambres, <strong>49&euro; / nuit</strong><br>
                <small>Pas encore noté</small>
            </div>
            <img src="http://placehold.it/1000x400" alt="Image de la location" style="height: 200px; width: 100%; display: block;">
            <div class="card-body">
                <h4 class="card-title">
                    Appartement Top !
                </h4>
                <p class="card-text">
                    Ea ex nostrud velit eiusmod. Laborum sint est sint dolor nisi ea amet duis consectetur consequat commodo occaecat. Veniam anim occaecat consequat ullamco amet nostrud cillum nulla in irure.
                </p>
                <a href="#" class="btn btn-secondary">Voir plus</a>
            </div>
        </div>
    </div>
</div>
<h2>Nos propriétaires stars</h2>
<div class="row mt-3">
    <div class="col">
        <div class="card border-secondary mb-3">
            <div class="card-body">
                <h4 class="card-title">Michael Chemla</h4>
                <hr>
                <div class="card-text">
                    <img src="http://placehold.it/64x64" alt="Avatar" class="float-left mr-3">
                    <p>Voluptate est in enim id proident sint quis quis cillum aute proident.</p>
                    <a href="#" class="btn btn-success float-right">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-secondary mb-3">
            <div class="card-body">
                <h4 class="card-title">Michael Chemla</h4>
                <hr>
                <div class="card-text">
                    <img src="http://placehold.it/64x64" alt="Avatar" class="float-left mr-3">
                    <p>Voluptate est in enim id proident sint quis quis cillum aute proident.</p>
                    <a href="#" class="btn btn-success float-right">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}