{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}
<h1 class="my-3">Les annonces de nos hotes</h1>
<div class="row">
    {% for ad in ads %}
        {% include 'ad/_ad.html.twig' %}    
    {% endfor %}
</div>
{% endblock %}
